nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 10px;
  padding: 5px;
}

nav li a {
  text-decoration: none;
  color: black;
  padding:10px;
}

nav li:hover {
  background-color: rgb(220, 39, 15);
}
nav {
  background-color: #e87a3a;
}

/* nasted menu style */

nav li .dropdown {
  display: none;
  position: absolute;
  background-color: lightyellow;
  padding-left: 10px;
}

nav li:hover > .dropdown{
  display:block;
}

.hero h1{
  text-align: center;

}
.hero img{
  
  height: 700px;
  border: 5px solid rgb(190, 48, 84);
  border-radius: 50px;
  margin-left: 80px;

}
*{
  background-color: #d47a51;
}

.hero article{
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}

.hero p{
  text-align: center;
}

