nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 10px;
  padding: 5px;
}

nav li a {
  text-decoration: none;
  color: black;
  padding:10px;
 
}

nav li:hover {
  background-color: rgb(220, 39, 15);
}
nav {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  
}

/* nasted menu style */

nav li .dropdown {
  display: none;
  position: absolute;
  background-color: lightyellow;
  padding-left: 10px;
}

nav li:hover > .dropdown{
  display:block;
}

.hero h1{
  text-align: center;

}
.hero img{  
  height: 700px;
  border: 5px solid rgb(190, 48, 84);
  border-radius: 50px;
  margin-left: 80px;

}


.hero article{
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}

.hero p{
  text-align: center;
}

.panda{
  height: 200px;
}
.selectimage{
  background-color: white;
}
#mySelection{
  background-color: #fff;
}
.search{
  background-color: #fff;
}
.selectimage{
  /* margin-top: 10%; */
  border: 2px solid black;
  margin-right: 50px;
  margin-left: 100px;
  box-shadow: -5px 0 15px rgba(0,0,0,0.25);
  padding-left: 10px;
  margin-bottom: 50px;
  width: 400px;
}

.hero{
  margin-bottom: 70px;
}
.selectimage button{
  margin-bottom: 15px;
  margin-top: 10px;
}

.feedbackform label{
  display: block;
  margin-bottom: 10px;
}

.feedbackform form{
  border: 2px solid black;
  width: 500px;
  padding-top: 10px;
  /* margin-top: -500px; */
}


td, th{
  border: 2px solid black;
  padding: 5px 10px;

}

table {
  border-collapse: collapse;
  margin-left: 10px;
}
nav ul {
  justify-content: flex-end;

  /* if you need the items visually reversed, use:
     flex-direction: row-reverse; */
}

nav li a{
  font-size: 28px;
  font-weight: 400;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: lightsalmon;
  /* cursor: pointer; */
}



.parent{
  padding: 25px;
  background-color: rgb(240, 192, 132);
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child{
  border: 2px solid lightseagreen;
  background-color: lightcyan;
  padding: 20px;
  font-size: 28px;
  margin: 10px 0;
}

